<div class = "footer">
    <div class="footer-top">
        <div class="footer-column">
            <img src="assets/angular-logo.png" class="logo">
            <a href="#">Home</a>
            <a href="#">About</a>
        </div>

        <div class="footer-column">
            <a class="" id = "footer-a" href="#">Contact</a>
            <a class="" href="#">Privacy Policy</a>
            <a class="" href="#">Terms of Service</a>
        </div>
        
        <div class="footer-row">
            <p>Follow us on:</p>
            <a href="#"><img src="assets/facebook-icon.png" class="social-icon"></a>
            <a href="#"><img src="assets/twitter-icon.png" class="social-icon"></a>
            <a href="#"><img src="assets/instagram-icon.png" class="social-icon"></a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2024 My Angular App. All rights reserved.</p>
    </div>

</div>